---
import ThemeSwitch from './ThemeSwitch.astro'
---

<header>
	<div class='fixed top-0 w-full bg-transparent px-4 py-2'>
		<div class='mx-auto flex h-full w-full max-w-6xl items-center justify-between'>
			<a class='text-xl text-primary-text hover:text-accent sm:text-2xl'
				>Nyhz<span class='text-xl text-accent sm:text-2xl'>.dev</span></a
			>
			<div>
				<ThemeSwitch />
			</div>
		</div>
	</div>
</header>
