---
import ThemeSwitch from './ThemeSwitch.astro'
---

<header
	class='sticky top-0 z-10 w-full animate-fade-down bg-transparent py-8 animate-duration-1000'
>
	<div class='mx-auto flex h-full w-full max-w-6xl items-center justify-between'>
		<a class='hoverable text-xl text-primary-text sm:text-2xl' href='/'
			>Nyhz<span class='text-xl text-accent sm:text-2xl'>.dev</span></a
		>
		<div class='hoverable flex items-center'>
			<ThemeSwitch />
		</div>
	</div>
</header>
