---
import GithubIcon from './icons/GithubIcon.astro'
import LinkedInIcon from './icons/LinkedInIcon.astro'
---

<div class='md: fixed bottom-0 right-10 flex h-[17rem] w-6 flex-col items-center justify-between'>
	<div class='flex flex-col space-y-6'>
		<a
			class='hoverable scale-125'
			href='https://github.com/Nyhz'
			target='_blank'
			rel='noopener noreferrer'
		>
			<GithubIcon />
		</a>
		<a
			class='hoverable scale-125'
			href='https://www.linkedin.com/in/daniel-calvo-rodriguez/'
			target='_blank'
			rel='noopener noreferrer'
		>
			<LinkedInIcon />
		</a>
	</div>
	<div class='dark:bg-bglight h-1 w-80 rotate-90 rounded bg-primary-text'></div>
</div>
