---
import Header from '../components/Header.astro'
import CursorBall from '../components/CursorBall.astro'
import Socials from '../components/Socials.astro'
import '@fontsource-variable/jost'
import '../styles/index.css'
---

<!doctype html>
<html lang='es' class='scroll-smooth'>
	<head>
		<meta charset='UTF-8' />
		<meta name='author' content='Nyhz' />
		<meta
			name='description'
			content='Nyhz personal website | About me, project, experience and tons of good quality animations'
		/>
		<meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no' />
		<meta property='og:title' content='Welcome to nyhz.dev ~' />
		<meta
			property='og:description'
			content='Nyhz personal website | About me, project, experience and tons of good quality animations'
		/>
		<meta property='og:image' content='/images/og-image.webp' />
		<meta property='og:image:alt' content='Website preview image' />
		<meta property='og:url' content='https://nyhz.dev' />
		<meta property='og:site_name' content='nyhz.dev' />
		<meta property='og:type' content='website' />
		<meta name='twitter:card' content='summary_large_image' />
		<meta name='twitter:site' content='@danywtf' />
		<meta name='twitter:title' content='nyhz.dev' />
		<meta name='twitter:description' content='Full-Stack Developer' />
		<meta name='twitter:image' content='/images/og-image.webp' />
		<meta name='twitter:image:alt' content='Website preview image' />
		<link rel='icon' type='image/x-icon' href='/images/favicon.png' />
		<script is:inline>
			window.getThemePreference = () => {
				const localItem = typeof localStorage !== 'undefined' && localStorage.getItem('theme')
				if (localItem) return localItem
				return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
			}
		</script>
		<title>nyhz.dev</title>
	</head>

	<body class='hidden bg-primary-bg transition-all'>
		<Header />
		<main>
			<slot />
		</main>
		<Socials />
		<CursorBall />
	</body>

	<script>
		import initLenis from '../lib/lenis-init'
		import initCursorBall from '../lib/cursorball-init'
		import initTheme from '../lib/theme-init'
		import initPreference from '../lib/theme-preference-init'

		initLenis()
		initCursorBall()
		initPreference()
		initTheme()
	</script>
</html>
